{
  "singleQuote": true,
  "tabWidth": 2,
  "semi": true,
  "arrowParens": "always",
  "endOfLine": "crlf",
  "overrides": [
    {
      "files": "*.tsx",
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": "*.json",
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": "*.md",
      "options": {
        "proseWrap": "preserve"
      }
    }
  ]
}
